.Hdr-Icon{
  float: left;
}

.Hdr{
  text-align: right;
  font-family: "Afacad Flux", sans-serif;
  color: chartreuse;
}

.Welcome pre{
  color: chartreuse;
  text-align: center;
}

.Section-00{
  font-family: "Afacad Flux", sans-serif;
  color: chartreuse;
  text-align: center;
}